.cooperation {
  padding-top: 1px;
  padding-bottom: 1px;
}
.coop-wraper {
  margin-top: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 100px;
}
.logo-coop {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}
.logo-descr {
  font-size: 45px;
  margin: 0;
  text-align: center;
}
.green {
  color: #509b46;
}
.propose {
  margin: 0;
  margin-top: 30px;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 40px;
  position: relative;
}
.propose::before,
.propose::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #509b46;
  position: absolute;
}
.propose::before {
  top: 12px;
  left: 0;
}
.propose::after {
  top: 13px;
  left: 213px;
}
.coop {
  display: block !important;
  color: black;
  padding: 9px 34px;
  background-color: #f0e119;
  border: 0;
  font-size: 20px;
  transition-duration: 0.5s;
  -o-transition-timing-function: ease-in-out;
}
.coop:hover {
  cursor: pointer;
  background-color: #f0f080;
}
.social-links {
  width: 200px;
  margin-top: 90px;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.social-links a {
  color: rgba(255, 255, 255, 0.3);
  transition-duration: 0.5s;
  transform: scale(1);
  transition-property: color,transform;
}
.social-links a:hover {
  color: #ffffff;
  transform: scale(1.1);
}
